@page "/Create_Burial_Request"
@using System.Reflection
<h3>Create Burial Request</h3>
<h4>Type of Burial</h4>

<div class="col-md-6 control-section">
    <h5>Please select an option:</h5>
    
</div>

@code {

   
}
}