@page "/"

<h1>Welcome to HTH</h1>
<br>
<br>
<style>
    p {
             text-indent: 50px;
             text-align: justify;
             letter-spacing: 3px;
       }

</style>
<p> We are here for you even in the most delicated moments. We will help you to get over the hard times and offer your loved
    ones the prestige and the care that they need.</p>
<br>
<div class="card-deck">
    <div class="card text-white bg-dark mb-3">
        <img class="card-img-top" src="Images/about_us.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">About Us</h5>
            <p class="card-text">Learn about our mission</p>
            <button type="button" class="btn btn-info">Go to Page</button>
        </div>
        
        <div class="card-footer">
            
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3">
        <img class="card-img-top" src="Images/grave1.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Contact Us</h5>
            <p class="card-text">Write to us if you have any question</p>
            <button type="button" class="btn btn-info">Go to Page</button>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3">
        <img class="card-img-top" src="Images/cb.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Create Burial</h5>
            <p class="card-text">Start Customizing your own burial by your prefferences</p>
            <button type="button" class="btn btn-info">Go to Page</button>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>