@page "/Manage_Items_and_Services"
<h3>Manage Items and Services</h3>

<h3>Let's get started with the choice of the burial</h3>
<form>
<div class="form-group">
    <label for="exampleFormControlInput1">Complete Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="John Adrian">
  </div>
<div class="form-group">
  <label for="exampleFormControlInput1">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
  <select class="form-control" id="exampleFormControlSelect1">
    <option>Cremation</option>
    <option>Traditional Burial</option>
    <option>Turn Ashes Into A Reef</option>
    <option>Tree Burial</option>
    <option>Aquamation</option>
    <option>Space Burial</option>
  
  </select>
    </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Aditional Comments</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  
  </form>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          I verified the prefferences.
        </label><br/>
  <button type="button" class="btn btn-info">Proceed to checkout</button>
  

  </div>
  


@code {
    
}